@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Order Placed Successfully</h1>
<p>Thank you for your order! You will receive a confirmation email shortly.</p>

<div class="mt-4 text-center">
    <a asp-controller="Products" asp-action="CustomerList" class="btn btn-primary">Continue Shopping</a>
</div>
